<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tomwt.mobile.termtracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".TermTrackerProvider"
            android:authorities="com.tomwt.mobile.termtracker.termtrackerprovider"
            android:exported="false" />

        <activity
            android:name=".ManagedTermsActivity"
            android:label="@string/title_activity_managed_terms"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tomwt.mobile.termtracker.MainActivity" />
        </activity>
        <activity
            android:name=".ManageCoursesActivity"
            android:label="@string/title_activity_manage_courses"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tomwt.mobile.termtracker.MainActivity" />
        </activity>
        <activity
            android:name=".ViewTermActivity"
            android:label="@string/title_activity_view_term"
            android:parentActivityName=".ManagedTermsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tomwt.mobile.termtracker.ManagedTermsActivity" />
        </activity>
    </application>

</manifest>